html{
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FBF5E5;
    color: #212121;
}
.caja{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
    margin-top: 2em;
    place-items: center;
    place-self: center;
    margin: 0;
}
.btn{
    display: flex;
    width: minmax(20px,35px);
    height: 2.3em;
    font-size: 14.78px;
    margin: 0;
    margin: 1em .47em;
    padding: 0;
    padding: 5px 5.16px;
    border-radius: 10.36px;
    grid: 3px;
    align-items: center;
    justify-content: center;
}
.btn_centrado1{
    grid-column: 1/3;
    grid-row: 3/3;
}
.btn_centrado2{
    grid-column: 2/4;
    grid-row: 3/3;
}
.btn:hover {
    background-color: #A35C7A;
    color: #FBF5E5;
    transition-duration: (1.138);
    transition: 0.178s;
}
.fondo{
    width: 19.3em;
    height: auto;
    margin: 0;
    margin: auto;
    padding: 0;
    padding: 3px 2.5px;
    background-color: #FBF5E5;
    border-radius: 10.10px;
    box-shadow: 5.73px 2.31px 2.78px rgb(163, 92, 122, 0.431);
}
.footer{
    position: sticky;
    bottom: 0;
    left: 0;
    width: auto;
    background: #212121;
    color: #FBF5E5;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
}